<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Safe Page</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/login.css" rel="stylesheet">
    <link href="../stylesheets/index.css" rel="stylesheet">
    <style>
        .navigation li
        {
            width: 80%;
        }
    </style>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="#/main">首页</a>
        </li>
        <li>
            <a href="#/safe">安全中心</a>
        </li>
    </ul>
</header>

<div id="main-container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#/safe/register" target="right">注册</a>
            </li>
            <li>
                <a href="#/safe/returnPW" target="right">找回密码</a>
            </li>
        </ul>
    </div>
    <iframe name="right" id="right-container" src="#/safe/register">
    </iframe>
</div>

<footer>
    <span>This WebPage Is Created By Lijianhua</span>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>