<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/login.css" rel="stylesheet">
    <link href="../stylesheets/register.css" rel="stylesheet">
</head>
<body>
<div id="register-container" style="width:400px;margin-left:-250px;">
    <form method="post">
        <fieldset>
            <input type="text" class="input-text-area2" name="title" placeholder="标题">
            <input type="text" class="input-text-area2" name="deadline" placeholder="截止时间">
            <input type="text" class="input-text-area3" name="content" placeholder="详细内容">
        </fieldset>
        <div class="submit-button3">
            <input type="button" value="发 布">
        </div>
    </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../javascripts/accountController.js"></script>
<script src="../javascripts/homeworkController.js"></script>
</body>
</html>